// include files block begin
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='keywords', content='關鍵字1,關鍵字2')
meta(name='description', content='網站描述網站描述網站描述網站描述')
link(href='//getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
script(type='text/javascript', src='//code.jquery.com/jquery-1.12.2.min.js')
script(type='text/javascript', src='js/main.js')
// include files block end
